/* =============================================================================
    Fonts
   ========================================================================== */
@font-face {
  font-family: 'bebas_neueregular';
  src: url("../font/BebasNeue-webfont.eot");
  src: url("../font/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../font/BebasNeue-webfont.woff") format("woff"), url("../font/BebasNeue-webfont.ttf") format("truetype"), url("../font/BebasNeue-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Social Media Icons";
  src: url("../font/social-media-icons.eot");
  src: url("../font/social-media-icons.eot?#iefix") format("eot"), url("../font/social-media-icons.woff") format("woff"), url("../font/social-media-icons.ttf") format("truetype"), url("../font/social-media-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

#login-links:after, .wrapper:after, #heading:after, #hero .content:after, #logo-container:after, #location-info:after, #login-links:before, .wrapper:before, #heading:before, #hero .content:before, #logo-container:before, #location-info:before {
  display: table;
  content: "";
  clear: both;
}

/* =============================================================================
    Animations
   ========================================================================== */
/* Logo Animation */
/* No Prefix */
@keyframes bubblerise1 {
  0% {
    right: 30%;
    bottom: 60px;
    width: 40px;
  }

  20% {
    right: 35%;
    bottom: 160px;
    width: 56px;
  }

  40% {
    right: 30%;
    bottom: 250px;
    width: 67px;
  }

  60% {
    right: 25%;
    bottom: 380px;
    width: 85px;
  }

  80% {
    right: 30%;
    bottom: 490px;
    width: 90px;
  }

  100% {
    right: 35%;
    bottom: 600px;
    width: 110px;
  }
}

@keyframes bubblerise2 {
  0% {
    right: 30%;
    bottom: 60px;
    width: 40px;
  }

  20% {
    right: 25%;
    bottom: 160px;
    width: 56px;
  }

  40% {
    right: 30%;
    bottom: 250px;
    width: 67px;
  }

  60% {
    right: 35%;
    bottom: 380px;
    width: 85px;
  }

  80% {
    right: 30%;
    bottom: 490px;
    width: 90px;
  }

  100% {
    right: 25%;
    bottom: 600px;
    width: 110px;
  }
}

/* Webkit */
@-webkit-keyframes bubblerise1 {
  0% {
    right: 30%;
    bottom: 60px;
    width: 40px;
  }

  20% {
    right: 35%;
    bottom: 160px;
    width: 56px;
  }

  40% {
    right: 30%;
    bottom: 250px;
    width: 67px;
  }

  60% {
    right: 25%;
    bottom: 380px;
    width: 85px;
  }

  80% {
    right: 30%;
    bottom: 490px;
    width: 90px;
  }

  100% {
    right: 35%;
    bottom: 600px;
    width: 110px;
  }
}

@-webkit-keyframes bubblerise2 {
  0% {
    right: 30%;
    bottom: 60px;
    width: 40px;
  }

  20% {
    right: 25%;
    bottom: 160px;
    width: 56px;
  }

  40% {
    right: 30%;
    bottom: 250px;
    width: 67px;
  }

  60% {
    right: 35%;
    bottom: 380px;
    width: 85px;
  }

  80% {
    right: 30%;
    bottom: 490px;
    width: 90px;
  }

  100% {
    right: 25%;
    bottom: 600px;
    width: 110px;
  }
}

/* mozilla */
@-moz-keyframes bubblerise1 {
  0% {
    right: 30%;
    bottom: 60px;
    width: 40px;
  }

  20% {
    right: 35%;
    bottom: 160px;
    width: 56px;
  }

  40% {
    right: 30%;
    bottom: 250px;
    width: 67px;
  }

  60% {
    right: 25%;
    bottom: 380px;
    width: 85px;
  }

  80% {
    right: 30%;
    bottom: 490px;
    width: 90px;
  }

  100% {
    right: 35%;
    bottom: 600px;
    width: 110px;
  }
}

@-moz-keyframes bubblerise2 {
  0% {
    right: 30%;
    bottom: 60px;
    width: 40px;
  }

  20% {
    right: 25%;
    bottom: 160px;
    width: 56px;
  }

  40% {
    right: 30%;
    bottom: 250px;
    width: 67px;
  }

  60% {
    right: 35%;
    bottom: 380px;
    width: 85px;
  }

  80% {
    right: 30%;
    bottom: 490px;
    width: 90px;
  }

  100% {
    right: 25%;
    bottom: 600px;
    width: 110px;
  }
}

.cssanimations #bubble1 {
  opacity: 0.8;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation: bubblerise1 15s linear 0 infinite;
  animation: bubblerise1 15s linear 0 infinite;
  -moz-animation-name: bubblerise1;
  /* Firefox does not like shorthand */
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.cssanimations #bubble2 {
  opacity: 0.8;
  right: -9999px;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation: bubblerise2 15s linear -8s infinite;
  animation: bubblerise2 15s linear -8s infinite;
  -moz-animation-name: bubblerise2;
  /* Firefox does not like shorthand */
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.cssanimations #bubble3 {
  opacity: 0.5;
  right: -9999px;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation: bubblerise1 13s linear 2s infinite;
  animation: bubblerise1 13s linear 2s infinite;
  -moz-animation-name: bubblerise1;
  /* Firefox does not like shorthand */
  -moz-animation-duration: 13s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.cssanimations #bubble4 {
  opacity: 0.5;
  right: -9999px;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation: bubblerise2 17s linear -14s infinite;
  animation: bubblerise2 17s linear -14s infinite;
  -moz-animation-name: bubblerise2;
  /* Firefox does not like shorthand */
  -moz-animation-duration: 17s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.cssanimations #bubble5 {
  opacity: 0.5;
  right: -9999px;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation: bubblerise1 17s linear -6s infinite;
  animation: bubblerise1 17s linear -6s infinite;
  -moz-animation-name: bubblerise1;
  /* Firefox does not like shorthand */
  -moz-animation-duration: 17s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@keyframes bubblewhite {
  0% {
    left: 70%;
    bottom: -600px;
  }

  33% {
    left: 65%;
    bottom: -200px;
  }

  66% {
    left: 70%;
    bottom: 200px;
  }

  100% {
    left: 75%;
    bottom: 600px;
  }
}

@-webkit-keyframes bubblewhite {
  0% {
    left: 70%;
    bottom: -600px;
  }

  33% {
    left: 65%;
    bottom: -200px;
  }

  66% {
    left: 70%;
    bottom: 200px;
  }

  100% {
    left: 75%;
    bottom: 600px;
  }
}

@-moz-keyframes bubblewhite {
  0% {
    left: 70%;
    bottom: -600px;
  }

  33% {
    left: 65%;
    bottom: -200px;
  }

  66% {
    left: 70%;
    bottom: 200px;
  }

  100% {
    left: 75%;
    bottom: 600px;
  }
}

.cssanimations #bubble-white {
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -webkit-animation: bubblewhite 25s linear 0 infinite;
  animation: bubblewhite 25s linear 0 infinite;
  -moz-animation-name: bubblewhite;
  /* Firefox does not like shorthand */
  -moz-animation-duration: 25s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

#login-links:after, .wrapper:after, #heading:after, #hero .content:after, #logo-container:after, #location-info:after, #login-links:before, .wrapper:before, #heading:before, #hero .content:before, #logo-container:before, #location-info:before {
  display: table;
  content: "";
  clear: both;
}

/* =============================================================================
    Base
   ========================================================================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.7;
  color: #666;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1, h2 {
  font-family: "bebas_neueregular", "arial narrow", arial, sans-serif;
  text-transform: uppercase;
  color: #0e73af;
  line-height: 1.2;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
h1 a, h2 a {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  margin: 10px 0;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 55px;
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-family: 'arial narrow', arial, helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
}

p {
  font-size: 18px;
}

a {
  color: orange;
  text-decoration: none;
}

li {
  font-size: 18px;
}

#login-links:after, .wrapper:after, #heading:after, #hero .content:after, #logo-container:after, #location-info:after, #login-links:before, .wrapper:before, #heading:before, #hero .content:before, #logo-container:before, #location-info:before {
  display: table;
  content: "";
  clear: both;
}

/* =============================================================================
    Forms
   ========================================================================== */
button, input[type="submit"] {
  font-family: "bebas_neueregular", "arial narrow", arial, sans-serif;
  text-transform: uppercase;
  border: 0;
  font-size: 50px;
  cursor: pointer;
  background-color: #fcb040;
  color: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover, input[type="submit"]:hover {
  background-color: #fca627;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 10px;
  border: 0;
  background-color: #ddd;
  font-size: 18px;
  max-width: 100%;
}

label {
  display: block;
}

form .description {
  color: #999;
  font-style: italic;
  font-size: 14px;
}

.form-item {
  padding: 10px 0;
}

input[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 40px;
}

#login-links {
  margin: 20px 0;
}
#login-links a {
  display: block;
  float: left;
  background-color: #eee;
  padding: 10px 0;
  width: 50%;
  text-align: center;
  color: #999;
  font-size: 14px;
  font-family: "arial narrow", arial, helvetica, sans-serif;
}
@media (min-width: 470px) {
  #login-links a {
    font-size: 16px;
  }
}
@media (min-width: 700px) {
  #login-links a {
    font-size: 18px;
    width: auto;
    padding: 10px 20px;
  }
}
#login-links a.lt-active {
  background-color: #55c2c2;
  color: white;
}

#login-links:after, .wrapper:after, #heading:after, #hero .content:after, #logo-container:after, #location-info:after, #login-links:before, .wrapper:before, #heading:before, #hero .content:before, #logo-container:before, #location-info:before {
  display: table;
  content: "";
  clear: both;
}

/* =============================================================================
    Layout
   ========================================================================== */
.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.front .wrapper {
  width: 95%;
}
@media (min-width: 1200px) {
  .front .wrapper {
    width: 100%;
  }
}
.front #heading .wrapper {
  width: 100%;
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1100px;
  }
}
@media (min-width: 1700px) {
  .wrapper {
    max-width: 1500px;
  }
}

.not-front .content {
  text-align: left;
  padding: 10px;
}
@media (min-width: 900px) {
  .not-front .content {
    float: left;
    width: 67%;
  }
}
@media (min-width: 1200px) {
  .not-front .content {
    padding: 20px 20px 20px 0;
  }
}

#main {
  margin-top: 100px;
}
#main .wrapper {
  text-align: left;
}

#sidebar-first {
  text-align: left;
  padding: 20px;
}
@media (min-width: 900px) {
  #sidebar-first {
    float: right;
    width: 33%;
    padding: 10px 0;
  }
}

#login-links:after, .wrapper:after, #heading:after, #hero .content:after, #logo-container:after, #location-info:after, #login-links:before, .wrapper:before, #heading:before, #hero .content:before, #logo-container:before, #location-info:before {
  display: table;
  content: "";
  clear: both;
}

/* =============================================================================
    Heading Section
   ========================================================================== */
#heading {
  background-color: black;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
#heading.scrolldown {
  height: 60px;
}
#heading.scrolldown h1, #heading.scrolldown nav {
  line-height: 60px;
}
#heading h1 {
  float: left;
  line-height: 100px;
  margin: 0;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
#heading h1 a {
  display: block;
  text-indent: -9999px;
  background-image: url(../images/drupal-diver-no-bubble.svg);
  width: 130px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fcb040;
  margin: 5px;
  padding: 0;
  position: relative;
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
}
@media (min-width: 470px) {
  #heading h1 a:after {
    content: "#FLDC14";
    position: absolute;
    left: 100%;
    text-indent: 0;
  }
}
@media (min-width: 700px) {
  #heading h1 a {
    font-size: 40px;
    margin: 0 0 0 10px;
    text-indent: 0;
    background-image: none;
    width: auto;
    height: auto;
    display: inline;
  }
  #heading h1 a:after {
    content: "";
  }
}
@media (min-width: 900px) {
  #heading h1 a {
    font-size: 38px;
  }
}
@media (min-width: 1200px) {
  #heading h1 a {
    font-size: 45px;
    margin: 0;
  }
}
#heading h1 a:hover {
  color: #fdc572;
}
#heading h1 a.scrolldown {
  width: 90px;
  height: 80px;
}
#heading nav {
  display: none;
  float: right;
  font-family: "bebas_neueregular", "arial narrow", arial, sans-serif;
  text-transform: uppercase;
  line-height: 100px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
@media (min-width: 900px) {
  #heading nav {
    display: block;
  }
}
#heading nav > ul {
  float: left;
  margin: 0;
  padding: 0;
}
#heading nav > ul ul {
  display: none;
}
#heading li {
  margin: 0;
  display: inline-block;
  font-size: 20px;
}
@media (min-width: 950px) {
  #heading li {
    font-size: 25px;
  }
}
#heading a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#heading a:hover {
  color: #e4d400;
}

#login-header {
  float: right;
  line-height: 100px;
  font-size: 20px;
  display: block;
  margin-left: 10px;
  background-color: #55c2c2;
  -webkit-transition: all, 0.1s;
  -moz-transition: all, 0.1s;
  -o-transition: all, 0.1s;
  transition: all, 0.1s;
}
@media (min-width: 950px) {
  #login-header {
    font-size: 25px;
  }
}
#login-header.scrolldown {
  line-height: 60px;
}
#login-header a:hover {
  color: #333;
}

#mobile-menu {
  text-indent: -9999px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  float: right;
  margin: 25px;
  cursor: pointer;
  background-image: url(../images/mobile-nav.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
@media (min-width: 900px) {
  #mobile-menu {
    display: none;
  }
}
#mobile-menu.scrolldown {
  margin: 5px;
}

#login-links:after, .wrapper:after, #heading:after, #hero .content:after, #logo-container:after, #location-info:after, #login-links:before, .wrapper:before, #heading:before, #hero .content:before, #logo-container:before, #location-info:before {
  display: table;
  content: "";
  clear: both;
}

/* =============================================================================
    Hero
   ========================================================================== */
#hero {
  margin-top: 100px;
  background-image: url(../images/auditorium_blur.jpg);
  background-size: cover;
  position: relative;
}
#hero .content {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 95%;
  margin: 40px auto;
}
@media (min-width: 700px) {
  #hero .content {
    width: 90%;
    padding: 20px;
  }
}
@media (min-width: 900px) {
  #hero .content {
    margin: 40px 0;
    width: 60%;
    float: right;
  }
}
#hero h1 {
  line-height: 1.2;
  display: inline-block;
  font-size: 55px;
  color: white;
  border-bottom: solid 1px white;
  -webkit-text-stroke: 1px white;
}
@media (min-width: 470px) {
  #hero h1 {
    font-size: 65px;
  }
}
@media (min-width: 900px) {
  #hero h1 {
    font-size: 55px;
  }
}
@media (min-width: 1200px) {
  #hero h1 {
    font-size: 65px;
  }
}
@media (min-width: 1700px) {
  #hero h1 {
    font-size: 70px;
    margin-top: 200px;
  }
}
#hero h2 {
  font-size: 30px;
  margin: 0;
  line-height: 1.5;
  color: #fcb040;
}
@media (min-width: 1700px) {
  #hero h2 {
    font-size: 40px;
  }
}
#hero p {
  margin: 10px;
}
@media (min-width: 1700px) {
  #hero p {
    font-size: 25px;
  }
}
#hero button, #hero input[type="submit"] {
  width: 90%;
  max-width: 380px;
  height: 90px;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 90px;
  margin: 10px 0 20px 0;
}

.icon {
  position: relative;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 50px;
  line-height: 1;
  transition: color 800ms;
}

.icon:hover {
  color: #666;
}

.icon-twitter:before,
.icon-facebook:before,
.icon-drupal:before {
  font-family: 'Social Media Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-twitter:before {
  content: "\e000";
}

.icon-facebook:before {
  content: "\e003";
}

.icon-drupal:before {
  content: "\e005";
}

#logo-container {
  position: relative;
  display: none;
}
@media (min-width: 700px) {
  #logo-container {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-right: 7%;
  }
}
@media (min-width: 900px) {
  #logo-container {
    float: left;
    width: 40%;
    margin: 80px 0 40px -100px;
    padding-right: 0;
  }
}
@media (min-width: 1700px) {
  #logo-container {
    margin-top: 140px;
  }
}

#bubble1,
#bubble2,
#bubble3,
#bubble4,
#bubble5 {
  display: none;
}

.cssanimations #bubble1,
.cssanimations #bubble2,
.cssanimations #bubble3,
.cssanimations #bubble4,
.cssanimations #bubble5 {
  display: block;
}

/* =============================================================================
    Main
   ========================================================================== */
/* =============================================================================
    Sidebar
   ========================================================================== */
#sidebar-first h2 {
  margin: 0 0 20px 0;
}
#sidebar-first article {
  margin-bottom: 20px;
}
#sidebar-first article h2 {
  margin-bottom: 10px;
  font-size: 24px;
}
#sidebar-first article p {
  margin: 0 0 10px 0;
}
#sidebar-first article p:last-child {
  margin-bottom: 0;
}

/* =============================================================================
    Turqoise
   ========================================================================== */
#images {
  background-color: #55c2c2;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}
#images h1 {
  margin-top: 50px;
  color: white;
}

#bubble-white {
  position: absolute;
  bottom: 200px;
  width: 45%;
  height: auto;
  left: 80%;
}

/* =============================================================================
    Location Map
   ========================================================================== */
#location {
  background-image: url(../images/map-background.jpg);
  background-position: center center;
}
#location:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #55c2c2;
}

#location-info {
  margin: 50px auto;
  padding: 20px 30px;
  width: 95%;
  background-color: #0e73af;
  color: white;
}
@media (min-width: 470px) {
  #location-info {
    width: 80%;
  }
}
@media (min-width: 700px) {
  #location-info {
    max-width: 350px;
    margin: 75px 20px;
    float: right;
  }
}
#location-info h1 {
  color: #e4d400;
  margin: 0;
}
#location-info h2 {
  color: white;
  margin: 0;
  text-align: left;
  font-size: 35px;
  line-height: 1.5;
}
#location-info h3 {
  color: white;
  margin: 0;
  text-align: left;
  margin-bottom: 20px;
}
#location-info p {
  font-size: 16px;
  color: white;
  margin: 0;
  text-align: left;
}

/* =============================================================================
    Sponsors
   ========================================================================== */
#sponsors ul {
  padding: 0;
  margin: 0 0 40px 0;
}
#sponsors li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
  min-width: 100px;
  position: relative;
}
#sponsors li img {
  max-width: 90%;
}
#sponsors li:hover:after {
  content: "@todo - put in a cool hover effect";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #55c2c2;
  color: white;
  font-weight: bold;
}
#sponsors .sponsor-platinum li {
  width: 80%;
}
@media (min-width: 470px) {
  #sponsors .sponsor-platinum li {
    width: 100%;
  }
  #sponsors .sponsor-platinum li:first-child:nth-last-child(2n), #sponsors .sponsor-platinum li:first-child:nth-last-child(2n) ~ li {
    width: 45%;
  }
  #sponsors .sponsor-platinum li:first-child:nth-last-child(3n), #sponsors .sponsor-platinum li:first-child:nth-last-child(3n) ~ li {
    width: 30%;
  }
  #sponsors .sponsor-platinum li:first-child:nth-last-child(4n), #sponsors .sponsor-platinum li:first-child:nth-last-child(4n) ~ li {
    width: 24%;
  }
}
#sponsors .sponsor-gold li {
  width: 40%;
}
@media (min-width: 470px) {
  #sponsors .sponsor-gold li {
    width: 30%;
  }
}
@media (min-width: 700px) {
  #sponsors .sponsor-gold li {
    width: 23%;
  }
}
#sponsors .sponsor-silver li,
#sponsors .sponsor-bronze li {
  width: 12%;
}
#sponsors .sponsor-platinum {
  color: #666;
}
#sponsors .sponsor-gold {
  color: #e6c200;
}
#sponsors .sponsor-silver {
  color: #999;
}
#sponsors .sponsor-bronze {
  color: #998100;
}

#login-links:after, .wrapper:after, #heading:after, #hero .content:after, #logo-container:after, #location-info:after, #login-links:before, .wrapper:before, #heading:before, #hero .content:before, #logo-container:before, #location-info:before {
  display: table;
  content: "";
  clear: both;
}

/* =============================================================================
    Footer Section
   ========================================================================== */
#footer {
  background-color: #0e73af;
  padding: 30px 10px 20px 10px;
  position: relative;
}
#footer .content {
  color: #eee;
  padding: 10px 0;
}
@media (min-width: 700px) {
  #footer .content {
    float: left;
    padding: 0 20px;
  }
}
#footer .content a {
  color: #fff;
}
#footer:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid white;
}

#footer-nav {
  padding: 0;
  margin: 0;
  text-align: left;
}
@media (min-width: 700px) {
  #footer-nav {
    float: left;
  }
}
#footer-nav ul {
  padding: 0;
}
#footer-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "bebas_neueregular", "arial narrow", arial, sans-serif;
}
#footer-nav li a {
  font-size: 32px;
}
#footer-nav li li {
  font-family: helvetica, arial, sans-serif;
}
#footer-nav li li a {
  color: white;
  font-size: 22px;
}
@media (min-width: 700px) {
  #footer-nav li {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
  }
  #footer-nav li li {
    display: block;
    padding: 0;
  }
}

#social-icons-footer {
  padding-top: 20px;
}
@media (min-width: 700px) {
  #social-icons-footer {
    float: right;
  }
}
#social-icons-footer .icon {
  font-size: 35px;
  padding: 5px;
  margin: 0 5px;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  border: solid 2px white;
}
