/* IE8 */
#mobile-menu {
  background-image: url(../images/mobile-nav.png);
}

#hero {
  background-image: url(../images/auditorium_blur_ie8.jpg);
}
#hero .content {
  background-image: url(../images/ie8-fallback-transparent-black.png);
}

#heading h1 a {
  font-size: 40px;
  margin: 0 0 0 10px;
  text-indent: 0;
  background-image: none;
  width: auto;
  height: auto;
  display: inline;
}
#heading h1 a:after {
  content: "" !important;
}

#sponsors .sponsor-platinum li {
  width: 30% !important;
}
