@import "global";


/* =============================================================================
    Base
   ========================================================================== */



*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  font-family: $font-normal;
  line-height: 1.7;
  color: #666;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0; // Necessary for IE in some cases
}

h1, h2 {
  font-family: $font-heading;
  text-transform: uppercase;
  color: $blue;
  line-height: 1.2;
  @include transition(0.2s);
  a {
    text-decoration: none;
  }
}


h1 {
  font-size: 45px;
  margin: 10px 0;
  line-height: 1.2;
  @include breakpoint($normal) {
    font-size: 55px;
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-family: 'arial narrow', arial, helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #333;

}

p {
  font-size: 18px;
}

a {
  color: orange;
  text-decoration: none;
}

li {
  font-size: 18px;
}

