@import "global";


/* =============================================================================
    Forms
   ========================================================================== */

button {
  font-family: $font-heading;
  text-transform: uppercase;
  border: 0;
  font-size: 50px;
  cursor: pointer;
  background-color: $orange;
  color: white;  
  -webkit-appearance:none;
  @include border-radius(3px);
  @include transition(all .2s);
  &:hover {
    background-color: darken($orange, 5%);
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 10px;
  border: 0;
  background-color: #ddd;
  font-size: 18px;
  max-width: 100%;
  -webkit-appearance:none;
}

label {
  display: block;
}

form {
  .description {
    color: #999;
    font-style: italic;
    font-size: 14px;
  }
}

.form-item {
  padding: 10px 0;
}

input[type="submit"] {
  @extend button;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 40px;
}



// Login Toboggan Links
#login-links {
  @extend %clearfix;
  margin: 20px 0;
  a {
    display: block;
    float: left;
    background-color: #eee;
    padding: 10px 0;
    width: 50%;
    text-align: center;
    color: #999;
    font-size: 14px;
    font-family: $font-narrow;
    @include breakpoint($smartphone_wide) {
      font-size: 16px;
    }
    @include breakpoint($tablet_narrow) {
      font-size: 18px;
      width: auto;
      padding: 10px 20px;
    }
    &.lt-active {
      background-color: $turquois;
      color: white;
    }
  }
}

