@import "global";


/* =============================================================================
    Forms
   ========================================================================== */

button {
  font-family: $heading;
  text-transform: uppercase;
  border: 0;
  font-size: 50px;
  cursor: pointer;
  background-color: $orange;
  color: white;  
  @include transition(all .2s);
  &:hover {
    background-color: darken($orange, 5%);
  }
}