@import "global";

/* =============================================================================
    Heading Section
   ========================================================================== */


  #site-title {
    text-align: left;
    line-height: 60px;
    height: 60px; // So the logo will overflow the background
    width: 100%;
    margin: 0;
    top: 0;
    background-color: black; // Necessary so bubbles go behind in mobile
    z-index: 10; // Necessary so bubbles go behind in mobile
    position: fixed; // Necessary so bubbles go behind in mobile
    @include breakpoint($smartphone_wide) {
      position: fixed;   
    }
    @include breakpoint($tablet_narrow) {
      font-size: 45px;
      background-color: rgba(0,0,0,0.9);
    }
    @include breakpoint($tablet_wide) {
      width: auto;
      display: inline-block;
      line-height: 100px;
      font-size: 42px;
      background-color: black;
      z-index: 20;
      @include transition(all .2s);
      &.scroll-down {
        line-height: 60px;
        height: 60px;
        @include transition(all -.2s);
      }
    }   
    @include breakpoint(1000px) {
      font-size: 48px;   
      }    
    @include breakpoint($normal) {
      font-size: 55px;
      margin: 0 auto;
      max-width: 1100px;
      left: 50%;
      margin-left: -550px;
    }
    @include breakpoint($wide) {
      font-size: 65px;
      max-width: 1500px;
      margin-left: -750px;
    }    
    a {
      display: block;
      text-indent: -9999px;
      background-image: url(../images/drupal-diver-no-bubble.svg);
      width: 90px;
      height: 80px;
      background-size: contain;   
      background-repeat: no-repeat;   
      color: $orange;
      margin: 5px;
      padding: 0;
      position: relative;
      z-index: 10;
      &:after {
        content: "#FLDC14";
        position: absolute;
        left: 100%;
        text-indent:0
      }      
      @include transition(all, .2s);
      @include breakpoint($tablet_narrow) {
        margin: 0 0 0 10px;
        text-indent: 0;
        background-image: none;
        width: auto;
        height: auto;
        display: inline;
        &:after {
          content: "";
        }
      }     
      &:hover {
        color: lighten($orange, 10%);
      }
    }
  }

 

  // /#heading
//}




