@import "global";

/* =============================================================================
    Heading Section
   ========================================================================== */

#heading {
  background-color: black;
  @extend %clearfix;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  @include box-shadow(0 0 5px rgba(255,255,255,.3));
  @include transition(all .1s);
  &.scrolldown {
    height: 60px;
    h1, nav {
      line-height: 60px;
    }
  }
  h1 {
    float: left;
    line-height: 100px;
    margin: 0;
    @include transition(all .1s);
    a {
      display: block;
      text-indent: -9999px;
      background-image: url(../images/drupal-diver-no-bubble.svg);
      width: 130px;
      height: 120px;
      background-size: contain;   
      background-repeat: no-repeat;   
      color: $orange;
      margin: 5px;
      padding: 0;
      position: relative;
      @include transition(all, .2s);
      @include breakpoint($smartphone_wide) {
        &:after {
          content: "#FLDC14";
          position: absolute;
          left: 100%;
          text-indent:0
        }
      }
      @include breakpoint($tablet_narrow) {
        font-size: 40px;
        margin: 0 0 0 10px;
        text-indent: 0;
        background-image: none;
        width: auto;
        height: auto;
        display: inline;
        &:after {
          content: "";
        }
      }
      @include breakpoint($tablet_wide) {
        font-size: 38px;
      }      
      @include breakpoint($normal) {
        font-size: 45px;
        margin: 0;
      }
      @include breakpoint($normal) {
        font-size: 55px;
      }      
      &:hover {
        color: lighten($orange, 10%);
        background: transparent;
      }
      &.scrolldown {
        width: 90px;
        height: 80px;
      }
    }
  }

  nav {
    display: none;
    float: right;
    font-family: $font-heading;
    text-transform: uppercase;
    line-height: 100px;
    @include transition(all .1s);
    @include breakpoint($tablet_wide) {
      display: block;
    }     
    > ul {
      float: left;
      margin: 0;
      padding: 0;
      ul {
        display: none;
        // @todo get submenus working
      }
    }
  }
  li {
    margin: 0;
    display: inline-block;
    font-size: 20px;
    @include breakpoint($tablet_wide) {
      &:last-child a {
        padding-right: 20px;
      }
    }        
    @include breakpoint($tablet_wide_1) {
      font-size: 25px;
    }    
    @include breakpoint($wide) {
      font-size: 35px;
    }        
  }
  a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    @include transition(all .2s);
    &:hover {
      color: #333;
      background-color: $orange;
    }  

  }  

  // /#heading
}

#login-header {
  float: right;
  line-height: 100px;
  font-size: 20px;
  display: block;
  background-color: $turquois;
  @include transition(all, 0.1s);
  @include breakpoint($tablet_wide_1) {
    font-size: 25px;
  }
  @include breakpoint($wide) {
    font-size: 35px;
  }
  &.scrolldown {
    line-height: 60px;
  }
  a {
    &:hover {
      color: #333;
      background-color: darken($turquois, 3%);
    }
  }
}


#mobile-menu {
  text-indent: -9999px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  float: right;
  margin: 25px;
  cursor:pointer;
  background-image: url(../images/mobile-nav.svg);
  background-size: 30px;  
  background-repeat: no-repeat;
  background-position: center center;
  @include transition(all .2s);
  @include breakpoint($tablet_wide) {
    display: none;
  }
  &.scrolldown {
    margin: 5px;
  }
}
