@import "global";


/* =============================================================================
    Hero
   ========================================================================== */

#hero {
  margin-top: 100px;
  background-image: url(../images/auditorium_blur.jpg);
  background-size: cover;
  position: relative;
  padding-bottom: 20px;
  @include breakpoint($normal) {
    background-attachment: fixed; // Because why the hell not?
  }
  .content {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,.5);
    width: 95%;
    margin: 40px auto;
    @extend %clearfix; 
    @include breakpoint($tablet_narrow) {
      width: 90%;
      padding: 20px;
    }
    @include breakpoint($tablet_wide) {
      margin: 40px 0;
      width: 60%;
      float: right;
    }
    @include breakpoint($normal) {
      margin: 80px 0;
    }
    @include breakpoint($wide) {
      margin: 120px 0;
    }
  }
  h1 {
    line-height: 1.2;
    display: inline-block;
    font-size: 55px;
    color: white;
    border-bottom: solid 1px white;
    -webkit-text-stroke: 1px white;
    // background:  -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    @include breakpoint($smartphone_wide) {
      font-size: 65px;
    }    
    @include breakpoint($tablet_wide) {
      font-size: 55px;
    }
    @include breakpoint($normal) {
      font-size: 65px;
    }    
    @include breakpoint($wide) {
      font-size: 70px;
    }
  }
  h2 {
    font-size: 30px;
    margin: 0;
    line-height: 1.5;
    color: $orange;
    @include breakpoint($wide) {
      font-size: 40px;
    } 
  }
  p {
    margin: 10px;
    @include breakpoint($wide) {

      font-size: 25px;
    }      
  }
  button {
    width: 90%;
    max-width: 380px;
    height: 90px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;    
    line-height: 90px;
    margin: 10px 0 20px 0;
  }
  &:before {
    content: "";
    width: 0; 
    height: 0; 
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -40px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid $turquois;
  }
  .date {
    display: block;
    font-size: 35px;
    @include breakpoint($smartphone_wide) {
      display: inline;
      font-size: 30px;
      &:after {
        content: " | "
      }
    }
  }
  .loc {
    display: block;
    @include breakpoint($smartphone_wide) {
      display: inline;
    }
  } 
  // /#hero
}

// Social Media

.icon {
  position: relative;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 50px;
  line-height: 1;
  transition: color 800ms;
}

.icon:hover {
  color: #666;  
}

.icon-twitter:before,
.icon-facebook:before,
.icon-drupal:before {
  font-family: 'Social Media Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-twitter:before {
  content: "\e000";
}

.icon-facebook:before {
  content: "\e003";
}

.icon-drupal:before {
  content: "\e005";
}

#logo-container {
  @extend %clearfix;
  position: relative;
  display: none;
  @include breakpoint($tablet_narrow) {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-right: 7%;
  }
  @include breakpoint($tablet_wide) {
    float: left;
    width: 42%;
    margin: 80px 0 40px -50px;
    padding-right: 0;
  }
  @include breakpoint($normal) {
    width: 40%;
    margin-top: 100px;
  }
  @include breakpoint($wide) {
    margin-top: 100px;
  }

}

#bubble1,
#bubble2,
#bubble3,
#bubble4,
#bubble5 {
  display: none;
}

.cssanimations #bubble1,
.cssanimations #bubble2,
.cssanimations #bubble3,
.cssanimations #bubble4,
.cssanimations #bubble5 {
  display: block;
}

/* =============================================================================
    Main
   ========================================================================== */

#main {

}

/* =============================================================================
    Sidebar
   ========================================================================== */

#sidebar-first {
  h2 {
    margin: 0 0 20px 0;
  }
  article {
    margin-bottom: 20px;
    h2 {
      margin-bottom: 10px;
      font-size: 24px;
    }
    p {
      margin: 0 0 10px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* =============================================================================
    Turqoise
   ========================================================================== */


#images {
  background-color: $turquois;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  h1 {
    margin-top: 50px;
    color: white;
  }
}



/* =============================================================================
    Location Map
   ========================================================================== */

#location {
  background-position: center center;
  position: relative;
  @include breakpoint(0px $smartphone_wide) {
    background-image: url(../images/map-background_smartphone_narrow.jpg);
  }  
  @include breakpoint($smartphone_wide $tablet_narrow) {
    background-image: url(../images/map-background_smartphone_wide.jpg);
  }
  @include breakpoint($tablet_narrow $tablet_wide) {
    background-image: url(../images/map-background_tablet_narrow.jpg);
  }
  @include breakpoint($tablet_wide $normal) {
    background-image: url(../images/map-background_tablet_wide.jpg);
  }
  @include breakpoint($normal $wide) {
    background-image: url(../images/map-background_normal.jpg);
  }
  @include breakpoint($wide) {
    background-image: url(../images/map-background_wide.jpg);
  }  
  &:before {
    content: "";
    width: 0; 
    height: 0; 
    position: absolute;
    left: 50%;
    margin-left: -40px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid $turquois;
  }
}

#map-link {
  position: absolute;
  text-indent: -9999px;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#location-info {
  margin: 50px auto;
  padding: 20px 30px;
  width: 95%;
  z-index: 5;
  position: relative;
  @extend %clearfix;
  background-color: $blue;
  color: white;
  @include breakpoint($smartphone_wide) {
    width: 80%;
  }
  @include breakpoint($tablet_narrow) {
    max-width: 350px;
    margin: 75px 20px;
    left: calc(20% + 80px);
      &:before {
      content: "";
      width: 0; 
      height: 0; 
      position: absolute;
      left: -60px;
      top: 50%;
      margin-top: -60px;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-right: 60px solid $blue;
    }  
  }
  @include breakpoint($tablet_wide) {
    left: calc(50% + 80px);
  }  
  h1 {
    color: $yellow;
    margin: 0;
  }
  h2 {
    color: white;
    margin: 0;
    text-align: left;
    font-size: 35px;   
    line-height: 1.5; 
  }
  h3 {
    color: white;
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
  }  
  p {
    font-size: 16px;
    color: white;
    margin: 0;
    text-align: left;    
  }
  .addr {
    display: block;
    @include breakpoint($smartphone_wide) {
      display: inline;
      &:after {
        content: ", ";
      }
    }
  }
  .city {
    display: block;
    @include breakpoint($smartphone_wide) {
      display: inline;
    }
  }
}

#location-img {
  display: none;
  @include breakpoint($tablet-narrow) {
    display: block;
    position: absolute;
    left: 20%;
    top: 50%;
    width: 75px;
    height: 75px;
    margin-left: -38px;
    margin-top: -60px;
  }
  @include breakpoint($tablet-wide) {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75px;
    height: 75px;
    margin-left: -38px;
    margin-top: -60px;
  }  
}

/* =============================================================================
    Sponsors
   ========================================================================== */

#sponsors {
  background-color: white;
  ul {
    padding: 0;
    margin: 0 0 40px 0;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
    min-width: 100px;
    position: relative;
    img {
      max-width: 90%;
    }
    // &:hover:after {
    //   content: "@todo - put in a cool hover effect";
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   text-align: center;
    //   width: 100%;
    //   background-color: $turquois;
    //   color: white;
    //   font-weight: bold;
    // }
  }
  .sponsor-platinum li {
    width: 80%;
    @include breakpoint($smartphone_wide) {
      width: 100%;
      &:first-child:nth-last-child(2n),
      &:first-child:nth-last-child(2n) ~ li {
        width: 45%;
      }
      &:first-child:nth-last-child(3n),
      &:first-child:nth-last-child(3n) ~ li {
        width: 30%;
      }    
      &:first-child:nth-last-child(4n),
      &:first-child:nth-last-child(4n) ~ li {
        width: 24%;
      }   
    }   
  }

  .sponsor-gold li {
    width: 40%;
    @include breakpoint($smartphone_wide) {
      width: 30%;
    }
    @include breakpoint($tablet_narrow) {
      width: 23%;
    }  
  }

  .sponsor-silver li,
  .sponsor-bronze li,{
    width: 12%;    
  }

  .sponsor-platinum {
    color: #666;
  }
  .sponsor-gold {
    color: darken(gold, 5%);;
  }
  .sponsor-silver {
    color: #999;
  }
  .sponsor-bronze {
    color: darken(gold, 20%);
  }
  a {
    background-color: transparent;
  }
  // /#Sponsors
}
