@import "global";


/* =============================================================================
    Header Navigation
   ========================================================================== */



.header-menu {
    display: none;
    float: right;
    font-family: $font-heading;
    text-transform: uppercase;
    line-height: 100px;
    @include transition(all .1s);
    @include breakpoint($tablet_wide) {
      display: block;
    }     
  }


/* =============================================================================
    Primary navigation
   ========================================================================== */
  
#primary-menu {
  float: left;
  margin: 0;
  padding: 0;
  a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    @include transition(all .2s);
  }   
  li {
    margin: 0;
    display: inline-block;
    font-size: 20px;
    position: relative;
    @include breakpoint($tablet_wide) {
      &:last-child > a {
        padding-right: 20px!important; // Give some extra space next to the login/register links
      }
    }        
    @include breakpoint($tablet_wide_1) {
      font-size: 25px;
    }    
    @include breakpoint($wide) {
      font-size: 35px;
    }
    &:hover a {
      background-color: $orange;
      color: #333;
    }

    // Submenu Structure
  
  &:hover > ul {
    display: block;
  }    

  > ul {
    display: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: -1px; // to compensate for the border below
    width: 180px;
    background-color: $orange;
    border: solid 1px #333;
    border-top: 0;
    > li {
      display: block;
      line-height: 2;
      text-align: left;
    }     
    a {
      background-color: $orange;
      color: #333;
      padding: 0 10px;
      display: block;
      &:hover {
        color: white!important;
      }
    }       
  }
}
 
// /#primary-menu     
}
    
/* =============================================================================
    Mobile Menu button
   ========================================================================== */


  #mobile-menu {
  text-indent: -9999px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  float: right;
  margin: 25px;
  cursor:pointer;
  background-image: url(../images/mobile-nav.svg);
  background-size: 30px;  
  background-repeat: no-repeat;
  background-position: center center;
  @include transition(all .2s);
  @include breakpoint($tablet_wide) {
    display: none;
  }
  &.scrolldown {
    margin: 5px;
  }
}

/* =============================================================================
    Login Header
   ========================================================================== */


#login-header {
  float: right;
  line-height: 100px;
  font-size: 20px;
  display: block;
  background-color: $turquois;
  @include transition(all, 0.1s);
  @include breakpoint($tablet_wide_1) {
    font-size: 25px;
  }
  @include breakpoint($wide) {
    font-size: 35px;
  }
  &.scrolldown {
    line-height: 60px;
  }
  a {
    padding: 0 10px;
    color: white;
    &:hover {
      color: #333;
      background-color: transparent;
    }
  }
}