@import "global";


/* =============================================================================
    Header Navigation
   ========================================================================== */



.header-menu {
  display: none;
  font-family: $font-heading;
  text-transform: uppercase;
  line-height: 100px;
  clear: both;
  @include breakpoint($tablet_wide) {
    clear: none;
    float: right;
    display: block;
    @include transition(all .1s);
  }     
}


/* =============================================================================
    Primary navigation
   ========================================================================== */
  
#primary-menu {
  margin: 0;  
  padding: 0;
  width: 100%;
  text-align: left;
  clear: both;
  .scrolldown & {
    top: 60px;
  }
  @include breakpoint($tablet_wide) {
    float: left;
    width: auto;
  }
  a {
    padding: 0 20px;
    color: white;
    background-color: black;
    text-decoration: none;
    display: block;    
    @include transition(color .2s);
    @include transition(background-color .2s);
    @include breakpoint($tablet_wide) {
      position: relative;   
      z-index: 10;
      padding: 0 10px;
    }
  }   
  li {
    margin: 0;
    display: block;
    font-size: 20px;
    position: relative;
    @include breakpoint($tablet_wide) {
      float: left;
      &.faq > a {
        padding-right: 20px!important; // Give some extra space next to the login/register links
      }
    }        
    @include breakpoint($tablet_wide_1) {
      font-size: 25px;
    }    
    @include breakpoint($wide) {
      font-size: 35px;
    }
    &.header-right {
      a {
        background-color: $turquois;
        &:hover {
          background-color: $turquois;
        }
      }
    }
    &:hover a {
      background-color: $orange;
      color: #333;
    }


    // Submenu Structure for mobile
    @include breakpoint(0 $tablet_wide) {
      line-height: 3;
      font-size: 25px;
      position: relative;
      > ul {
        display: none;
        background-color: #666;
        padding: 0;
        > li {
          line-height: 2;
          > a {
            background-color: transparent;
            &:hover {
              background-color: #999;
            }
          }
        }
      }
      &:hover a {
        background-color: transparent;
        color: white;
      }
      &.expanded:after {
          content: "";
          display: block;
          position: absolute;
          right: 30px;
          top: 31px;
          width: 0; 
          height: 0; 
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 15px solid #999;
      }
      &.expanded-active:after {
          top: 33px;
          border-top: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 15px solid #999;
      }      
    }
    // Submenu Structure for desktop
    @include breakpoint($tablet_wide) {
      &:hover > ul {
        display: block;
        top: 100%;
      }    

      > ul {
        padding: 0;
        position: absolute;
        top: -400px;
        left: -1px; // to compensate for the border below
        width: 180px;
        background-color: $orange;
        border: solid 1px #333;
        border-top: 0;
        z-index: 5;
        @include breakpoint($wide) {
          top: -600px;
          width: 220px;
        }
        @include transition(all .2s); // Speed of the dropdown
        > li {
          display: block;
          float: none;
          line-height: 2;
          text-align: left;
        }     
        a {
          background-color: $orange;
          color: #333;
          padding: 0 10px;
          display: block;    
          z-index: 5; // Necessary so they don't inherit parent style
          &:hover {
            color: white!important;
          }
        }         
      // /ul     
      }
    // /tablet-wide breakpoint 
    }
  // /li
  }
// /#primary-menu     
}
    
/* =============================================================================
    Mobile Menu button
   ========================================================================== */


  #mobile-menu {
  text-indent: -9999px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  float: right;
  margin: 25px;
  cursor:pointer;
  background-image: url(../images/mobile-nav.svg);
  background-size: 30px;  
  background-repeat: no-repeat;
  background-position: center center;
  @include transition(all .2s);
  @include breakpoint($tablet_wide) {
    display: none;
  }
}
